<!DOCTYPE html>
<html>

<head>
 
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="https://d3js.org/d3.v4.min.js"></script>

</head>

<body>
 
  <div class="barchart" id="barchart">
    <script type="text/javascript" src="static/histogram.js"></script>
  </div>
  
  <table id="table"></table>
  <!--<div style="float:float" class="tree" id="tree">-->
  <!-- <script src="https://d3js.org/d3.v5.min.js"></script> -->
  <!--<script type="text/javascript" src="static/tree.js"></script>-->
</body>

</html>